{%extends 'wildgh/base.html'%}

{%load static%}


{%block site_description%}
<meta name="description" content="Author: Werld Analytics,
Site Description: Wild Ghana are expects in wildlife photography providing detailed mouth watering images that brings you close to nature.">
{%endblock%}

{%block extra_css%}
<link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery.css' %}" />    
{%endblock%}

{%block title%}
    <title>Wild Ghana | Gallery</title>
{%endblock%}


{%block content%}
<div class="content" style="min-height: 50vh; padding-top: 100px">
        
    <section >
        <h2>Explore Our Gallery</h2>
        (click to view actual image beneath its category)
        
    </section>  
    <hr>

    {%for category in categories%}
        {%if category == "Wildlife"%}
    <section>
        <h3>{{category}}</h3>
        This gallery deals with photography of our wildlife animals 

        <div class="album">
                
            <div class="row">
                {%for life in Wildlife%}
                <div class="column">
                <img src="{{life.Watermarked.url}}" alt="{{life.description}}" style="width:100%" onclick="myFunction(this);">
                </div>
                {%endfor%}
            </div>
            
            <div class="container">
                <div class="button add"><a href="">Add to Cart</a></div>
                <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                <img id="expandedImg" style="width:100%">
                <div id="imgtext"></div>
            </div>
            
        </div> 

    </section>
    {%elif category == "Places"%}
    <section>
        <h3>{{category}}</h3>
        This gallery deals with photography of our various places

        <div class="album">
                
            <div class="row">
                {%for place in Places%}
                <div class="column">
                <img src="{{place.Watermarked.url}}" alt="{{place.description}}" style="width:100%" onclick="myFunction2(this);">
                </div>
               {%endfor%}
                
               
            </div>
            
            <div class="container">
                <div class="button add"><a href="">Add to Cart</a></div>
                <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                <img id="expandedImg2" style="width:100%">
                <div id="imgtext2"></div>
            </div>
            
        </div> 

    </section>
    {%elif category == "People"%}
    <section>
        <h3>{{category}}</h3>
        This gallery deals with photography of our various people

        <div class="album">
                
            <div class="row">
                {%for person in People%}
                <div class="column">
                <img src="{{person.Watermarked.url}}" alt="{{person.description}}" style="width:100%" onclick="myFunction3(this);">
                </div>
               {%endfor%}
               
            </div>
            
            <div class="container">
                <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                <img id="expandedImg3" style="width:100%">
                <div id="imgtext3"></div>
            </div>
            
        </div> 

    </section>
    {%endif%}
    {%endfor%} 
            
            
</div>
{%endblock%}
    
{%block extra_scripts%}
    <script>
        function myFunction(imgs) {
            var expandImg = document.getElementById("expandedImg");
            var imgText = document.getElementById("imgtext");
            expandImg.src = imgs.src;
            imgText.innerHTML = imgs.alt;
            expandImg.parentElement.style.display = "block";
        }
    </script>
    <script>
        function myFunction2(imgs) {
            var expandImg = document.getElementById("expandedImg2");
            var imgText = document.getElementById("imgtext2");
            expandImg.src = imgs.src;
            imgText.innerHTML = imgs.alt;
            expandImg.parentElement.style.display = "block";
        }
    </script>
    <script>
        function myFunction3(imgs) {
            var expandImg = document.getElementById("expandedImg3");
            var imgText = document.getElementById("imgtext3");
            expandImg.src = imgs.src;
            imgText.innerHTML = imgs.alt;
            expandImg.parentElement.style.display = "block";
        }
    </script>
{%endblock%}