{%extends 'wildgh/base.html'%}

{%load static%}


{%block site_description%}
<meta name="description" content="Author: Werld Analytics,
Site Description: Wild Ghana are expects in wildlife photography providing detailed mouth watering images that brings you close to nature.">
{%endblock%}

{%block extra_css%}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/blogs.css' %}" />    
{%endblock%}

{%block title%}
    <title>Wild Ghana | Blogs</title>
{%endblock%}



{%block content%}
<div style="min-height: 50vh; padding-top: 100px">
    <section>
      <div class="blog">
        <div class="topic">Read Our Blog</div> <hr>
      </div>
     
      
      <div class="blog-samples">
        
        <div class="sample">
          <div class="blog-image">
            <img src="./images/Gallery/Wildlife/without/06_Uniform reed frog_1.jpg" width="250" height="250" alt="">
          </div>
          <div class="head">
            The Village Frog
          </div>
          <div class="sub-head">
            FEB 10TH, 2022 | <span>Mark Arthur</span>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quibusdam odio quam tempora odit maiores a obcaecati saepe 
            modi culpa, veritatis illo voluptates assumenda ab 
            exercitationem accusamus delectus quis architecto sequi 
            aspernatur 
          </div>
          <br>
          <div class="button"><a href="blogsample.html">Read More</a></div>
        </div>

        <div class="sample">
            <div class="blog-image">
              <img src="./images/Gallery/Wildlife/without/06_Uniform reed frog_1.jpg" width="250" height="250" alt="">
            </div>
            
            <div class="head">
              The Village Frog
            </div>
            <div class="sub-head">
              FEB 10TH, 2022 | <span>Mark Arthur</span>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Quibusdam odio quam tempora odit maiores a obcaecati saepe 
              modi culpa, veritatis illo voluptates assumenda ab 
              exercitationem accusamus delectus quis architecto sequi 
              aspernatur 
            </div>
            <br>
          <div class="button"><a href="blogsample.html">Read More</a></div>
          </div>
      
          
        <div class="sample">
            <div class="blog-image">
              <img src="./images/Gallery/Wildlife/without/06_Uniform reed frog_1.jpg" width="250" height="250" alt="">
            </div>
            <div class="head">
              The Village Frog
            </div>
            <div class="sub-head">
              FEB 10TH, 2022 | <span>Mark Arthur</span>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Quibusdam odio quam tempora odit maiores a obcaecati saepe 
              modi culpa, veritatis illo voluptates assumenda ab 
              exercitationem accusamus delectus quis architecto sequi 
              aspernatur 
            </div>
            <br>
          <div class="button"><a href="blogsample.html">Read More</a></div>
        </div>

        <div class="sample">
            <div class="blog-image">
              <img src="./images/Gallery/Wildlife/without/06_Uniform reed frog_1.jpg" width="250" height="250" alt="">
            </div>
            <div class="head">
              The Village Frog
            </div>
            <div class="sub-head">
              FEB 10TH, 2022 | <span>Mark Arthur</span>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Quibusdam odio quam tempora odit maiores a obcaecati saepe 
              modi culpa, veritatis illo voluptates assumenda ab 
              exercitationem accusamus delectus quis architecto sequi 
              aspernatur 
            </div>
            <br>
          <div class="button"><a href="blogsample.html">Read More</a></div>
          </div>

          <div class="sample">
            <div class="blog-image">
              <img src="./images/Gallery/Wildlife/without/06_Uniform reed frog_1.jpg" width="250" height="250" alt="">
            </div>
            <div class="head">
              The Village Frog
            </div>
            <div class="sub-head">
              FEB 10TH, 2022 | <span>Mark Arthur</span>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Quibusdam odio quam tempora odit maiores a obcaecati saepe 
              modi culpa, veritatis illo voluptates assumenda ab 
              exercitationem accusamus delectus quis architecto sequi 
              aspernatur 
            </div>
            <br>
          <div class="button"><a href="blogsample.html">Read More</a></div>
          </div>

          <div class="sample">
            <div class="blog-image">
              <img src="./images/Gallery/Wildlife/without/06_Uniform reed frog_1.jpg" width="250" height="250" alt="">
            </div>
            <div class="head">
              The Village Frog
            </div>
            <div class="sub-head">
              FEB 10TH, 2022 | <span>Mark Arthur</span>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Quibusdam odio quam tempora odit maiores a obcaecati saepe 
              modi culpa, veritatis illo voluptates assumenda ab 
              exercitationem accusamus delectus quis architecto sequi 
              aspernatur 
            </div>
            <br>
          <div class="button"><a href="blogsample.html">Read More</a></div>
          </div>
      
          <div class="sample">
            <div class="blog-image">
              <img src="./images/Gallery/Wildlife/without/06_Uniform reed frog_1.jpg" width="250" height="250" alt="">
            </div>
            <div class="head">
              The Village Frog
            </div>
            <div class="sub-head">
              FEB 10TH, 2022 | <span>Mark Arthur</span>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Quibusdam odio quam tempora odit maiores a obcaecati saepe 
              modi culpa, veritatis illo voluptates assumenda ab 
              exercitationem accusamus delectus quis architecto sequi 
              aspernatur 
            </div>
            <br>
          <div class="button"><a href="blogsample.html">Read More</a></div>
          </div>
  
        
      </div>
    </section>
 </div>

 {%endblock%}