*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(12, 1, 1);
    color: white;

}
.but-fill{
    color: black;
    background: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    margin-left: 10px;
}
.but-fill:hover {
    color: white;
    background: none;
    border-radius: 20px;
    border: 2px solid white;
    transition: 0.3s
}
.but-fill svg{
    margin-bottom: 5px;
}
.button .but-empty {
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid white;
}
.ta-center {
    text-align: center;
    margin-top: 2rem;
}
.button .but-empty:hover {
    color: black;
    background: white;
    border-radius: 20px;
    border: 2px solid white;
    transition: 0.3s
}
.logo-container {
    margin-left: 10px;
}
section {
    padding: 100px 0 30px 0;
}

header {
    background: black;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    height: 80px;
    z-index: 1000;
    transition: 0.6s;
    color: white;
    
}
#header.sticky {
    border-bottom: 1px solid rgba(252, 249, 249, 0.123);
    padding: 0 10px;
    background: black;

}
.donate a {
    text-decoration: none;
    background: green;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    /* font-weight: bold */
}
#header nav li span {
    position: absolute;
    left: 20px;
    top: -6px;
    background-color: rgb(122, 20, 20);
    font-size: 18px;
    padding: 0 5px;
    border-radius: 10px;
    line-height: normal;
}


/* nav {

} */
nav ul {
  display: flex;
  /* width: 60%;   */
  margin-bottom: 0;
}
nav ul li {
  list-style: none;
  margin-right: 30px;
  position: relative;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.carousel img {
    padding-top: 80px;
}
footer {
    /* background-color: black; */
}
.footer {
    /* width: 95%; */
    margin: auto;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
}
.left {
    flex: 3;
    padding-right: 10rem;
}
.r1, .r2 {
    flex: 2
}
.r2 ul {
    padding-left: 0;
}
.r2 ul li {
    list-style: none;
    padding: 7px 5px
}
.r2 ul li a {
    color: rgb(231, 221, 221);
    text-decoration: none;
    /* text-transform: uppercase; */
    
}
.socials {
    text-align: center;
    /* width: 100%; */
    width: 80%;
    margin: auto;
    padding-bottom: 15px;
}
.socials a {
    margin: 15px;
    color: white;
}
.socials hr {
    /* height: 2px; */
    margin-top: 30px;
}




/* RESPONSIVENESS */
@media (max-width: 950px) {
    /* HEADER */

    
    /* BODY */
    .small-width-nav {
        display: block;
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: white;
        border-bottom: 1px solid grey;
    }

    #header.sticky {
        background:none;
        border:none;
    }
    

    #nav1 {
        position: absolute;
        width: 320px;
        height: 100vh;
        background: #040844;
        left: -320px;
        top: 0;
        bottom: 0;
        box-sizing: border-box;
        padding-top: 5px;
        transition: all 0.4s ease;
        margin-top: 60px;
        z-index: 1000;
        border-right: 0.5px solid white;
        border-top: 0.5px solid white;
        
    }
    .nav-links {
        display: block;
        width: 100%
    }
    #nav1.active {
        left: 0;
    }

    nav ul li {
        margin:  20px 20px 20px 0;
    }
    .nav-div {
        padding: 0;
    }
    
    

    .toggle-wrap {
        padding: 15px;
        position: relative;
        cursor: pointer;
        float: left;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .toggle-bar,
    .toggle-bar::before,
    .toggle-bar::after,
    .toggle-wrap.active .toggle-bar,
    .toggle-wrap.active .toggle-bar::before,
    .toggle-wrap.active .toggle-bar::after {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    .toggle-bar {
      width: 38px;
      margin: 10px 0;
      position: relative;
      border-top: 6px solid #303030;
      display: block;
    }
    .toggle-bar::before,
    .toggle-bar::after {
      content: "";
      display: block;
      background: #303030;
      height: 6px;
      width: 38px;
      position: absolute;
      top: -16px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -ms-transform-origin: 13%;
      -webkit-transform-origin: 13%;
      transform-origin: 13%;
    }
    .toggle-bar::after {
      top: 4px;
    }
    .toggle-wrap.active .toggle-bar {
      border-top: 6px solid transparent;
    }
    .toggle-wrap.active .toggle-bar::before {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .toggle-wrap.active .toggle-bar::after {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
}
