@charset "UTF-8";


@font-face {
    font-family: 'HomepageBaukasten Book';
    src: url('../fonts/HomepageBaukasten-Book.eot');
    src: url('../fonts/HomepageBaukasten-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HomepageBaukasten-Book.woff2') format('woff2'),
        url('../fonts/HomepageBaukasten-Book.woff') format('woff'),
        url('../fonts/HomepageBaukasten-Book.ttf') format('truetype'),
        url('../fonts/HomepageBaukasten-Book.svg#HomepageBaukasten-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
