/* ALBUM */
section {
    width: 90vw;
    margin: 50px auto;
}
.album {
    width: 90vw;
    margin: auto;
}
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    max-width: 15%;
    padding: 10px;
    
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
    height: 150px;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext, #imgtext2, #imgtext3 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    background-color: black;
    padding: 0 5px;
  }

  .add {
    position: absolute;
    top: 100px;
    right: 45%;
    transition: all 0.6s;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 20px;
  }
  